@each $provider in (facebook #395692) (google #ca3f2f) (twitter #00a4e6) {
  .armor-tapstrap .auth-button-provider-#{nth($provider, 1)},
  .armor-tapstrap-auth-button-provider-#{nth($provider, 1)} {
    background-color: nth($provider, 2);
    &:hover {
      background-color: lighten(nth($provider, 2), 15%);
    }
  }
}

.armor-tapstrap .auth-button,
.armor-tapstrap-auth-button {
  border: none;
  box-shadow: 0 0 0 1px rgba(#fff, .4) inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: all .2s;
  &:disabled {
    background-color: lighten(#999, 10%);
    cursor: default;
  }
}

.armor-tapstrap .auth-button-icon,
.armor-tapstrap-auth-button-icon {
  bottom: rhythm(2, 28px, 29px) / 2;
  font-size: 28px;
  left: 10px;
  position: absolute;
}

.armor-tapstrap .auth-button-provider-google > .auth-button-icon,
.armor-tapstrap-auth-button-provider-google > .armor-tapstrap-auth-button-icon {
  bottom: -3px;
  font-size: 35px;
  left: -6px;
}

.armor-tapstrap .auth-button-text,
.armor-tapstrap-auth-button-text {
  display: inline-block;
}
