@import 'bourbon';

.armor-tapstrap .button,
.armor-tapstrap-button {
  @include transition(all .2s);
  background-color: #404040;
  border: none;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  outline: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  &.active,
  &:hover {
    background-color: #008bcc;
    color: #fff;
  }
  &:disabled {
    color: rgba(#ccc, .2);
    cursor: default;
    &:hover {
      background-color: #404040;
      color: rgba(#ccc, .2);
    }
  }
}

.armor-tapstrap .button-icon,
.armor-tapstrap-button-icon {
  line-height: inherit;
}
