@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .heading,
.armor-tapstrap-heading {
  color: #666;
  display: block;
  font-size: 36px;
  letter-spacing: -.05em;
  line-height: 40px;
  margin: 0;
}

.armor-tapstrap .heading-inverted,
.armor-tapstrap-heading-inverted {
  color: #fff;
}

@each $size in (x-small 24px 40px) (small 30px 40px) (medium 36px 40px) (large 42px 60px) (x-large 50px 60px) {
  .armor-tapstrap .heading-size-#{nth($size, 1)},
  .armor-tapstrap-heading-size-#{nth($size, 1)} {
    font-size: nth($size, 2);
  }
}