@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .jumbo-heading,
.armor-tapstrap-jumbo-heading {
  color: #333;
  display: block;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: -.05em;
  line-height: 80px;
}