@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .new-figure,
.armor-tapstrap-new-figure {
  @include transition(all .2s);
  background-color: #404040;
  border: 20px solid #fff;
  color: #ccc;
  cursor: pointer;
  display: block;
  text-decoration: none;
  width: 300px;
  &:hover {
    background-color: #008bcc;
    color: #fff;
  }
}

.armor-tapstrap .new-figure-icon,
.armor-tapstrap .new-figure-icon {
  display: block;
  font-size: 84px;
  margin-bottom: 18px;
  margin-top: 138px;
  text-align: center;
}

.armor-tapstrap .new-figure-text,
.armor-tapstrap-new-figure-text {
  display: block;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 100px;
  text-align: center;
}