.armor-tapstrap .new-figure,
.armor-tapstrap-new-figure {
  background-color: #404040;
  border: 20px solid #fff;
  color: #ccc;
  cursor: pointer;
  display: block;
  height: 0;
  padding-top: 133%;
  position: relative;
  text-decoration: none;
  transition: all .2s;
  width: 100%;
  &:hover {
    background-color: #008bcc;
    color: #fff;
  }
}

.armor-tapstrap .new-figure-icon,
.armor-tapstrap-new-figure-icon,
.armor-tapstrap .new-figure-text,
.armor-tapstrap-new-figure-text {
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
}

.armor-tapstrap .new-figure-icon,
.armor-tapstrap-new-figure-icon {
  font-size: 84px;
  line-height: 100px;
  margin-top: -50px;
}

.armor-tapstrap .new-figure-text,
.armor-tapstrap-new-figure-text {
  font-size: 15px;
  line-height: 20px;
  margin-top: 50px;
}
