.armor-tapstrap .off-canvas-column,
.armor-tapstrap-off-canvas-column {
  display: block;
  height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  position: fixed;
  top: 0;
  transition: all .2s;
  z-index: 10;
  width: 30%;
}

.armor-tapstrap #off-canvas-column-1,
#armor-tapstrap-off-canvas-column-1 {
  right: -30%;
  &:target {
    right: 0;
  }
}

.armor-tapstrap .off-canvas-column-toggle,
.armor-tapstrap-off-canvas-column-toggle {
	display: block;
  margin-left: -3.7%;
}
