.armor-tapstrap .paragraph,
.armor-tapstrap-paragraph {
  color: #999;
  cursor: text;
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.armor-tapstrap .paragraph-color-dark,
.armor-tapstrap-paragraph-color-dark {
  color: #666;
}

.armor-tapstrap .paragraph-color-light,
.armor-tapstrap-paragraph-color-light {
  color: #ccc;
}

.armor-tapstrap .paragraph-inverted,
.armor-tapstrap-paragraph-inverted {
  color: #fff;
}

@each $size in (x-small 11px 15px) (small 12px 15px) (medium 13px 15px) (large 14px 20px) (x-large 15px 20px) {
  .armor-tapstrap .paragraph-size-#{nth($size, 1)},
  .armor-tapstrap-paragraph-size-#{nth($size, 1)} {
    font-size: nth($size, 2);
    line-height: nth($size, 3);
  }
}
