@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .reel,
.armor-tapstrap-reel {
  background-color: #fff;
  display: block;
}

.armor-tapstrap .reel-figure,
.armor-tapstrap-reel-figure {
  display: block;
  padding: 20px;
}

.armor-tapstrap .reel-figure-attachment,
.armor-tapstrap-reel-figure-attachment,
.armor-tapstrap .reel-figure-attachment-image,
.armor-tapstrap-reel-figure-attachment-image {
  display: block;
  width: 100%;
}

.armor-tapstrap .reel-figure-caption,
.armor-tapstrap-reel-figure-caption {
  margin-top: 20px;
  display: block;
}

.armor-tapstrap .reel-figure + .reel-comments,
.armor-tapstrap-reel-figure + .armor-tapstrap-reel-comments {
  margin-top: -10px;
  padding-top: 10px;
}

.armor-tapstrap .reel-comments,
.armor-tapstrap-reel-comments {
  background-clip: padding;
  background-color: #eaf8ff;
  border: 1px solid #fff;
  display: block;
}