@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .scrollable-window,
.armor-tapstrap-scrollable-window {
  display: block;
  overflow: auto;
  &::-webkit-scrollbar {
    width: .5rem;
    width: 1rem;
  }
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    background-position: right;
    background-repeat: no-repeat;
    background-size: .5rem 100%;
  }
  &::-webkit-scrollbar-track {
    @include background-image(linear-gradient(#ccc, #ccc));
    &:window-inactive {
      @include background-image(linear-gradient(lighten(#ccc, 50%), lighten(#ccc, 50%)));
    }
  }
  &::-webkit-scrollbar-thumb {
    @include background-image(linear-gradient(#333, #333));
    &:window-inactive {
      @include background-image(linear-gradient(lighten(#333, 50%), lighten(#333, 50%)));
    }
  }
}