@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .select2-container,
.armor-tapstrap-select2-container {
  @include transition(all .2s);
  background-color: #575757;
  cursor: text;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.armor-tapstrap .select2-container:hover,
.armor-tapstrap-select2-container:hover,
.armor-tapstrap .select2-container-active,
.armor-tapstrap-select2-container-active {
  background-color: #404040;
}

.armor-tapstrap .select2-choice,
.armor-tapstrap-select2-choice,
.armor-tapstrap .select2-choices,
.armor-tapstrap-select2-choices {
  @include clearfix;
  @include transition(all .2s);
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: rhythm(1/2);
  width: 100%;
}

.armor-tapstrap .select2-container-active .select2-choice,
.armor-tapstrap-select2-container-active-choice,
.armor-tapstrap .select2-container-active .select2-choices,
.armor-tapstrap-select2-container-active-choices {
  border-color: #3fb8ff;
}

.armor-tapstrap .select2-search-choice,
.armor-tapstrap-select2-search-choice,
.armor-tapstrap .select2-search-field,
.armor-tapstrap-select2-search-field {
  color: #333;
  display: block;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
}

.armor-tapstrap .select2-search-choice,
.armor-tapstrap-select2-search-choice {
  background-color: lighten(#ccc, 10);
  background-image: linear-gradient(bottom, rgba(#fff, .18) 0, rgba(#fff, 0) 100%);
  border: 1px solid rgba(#000, .1);
  border-radius: .2rem;
  color: #fff;
  display: inline-block;
  line-height: 0;
  margin-bottom: rhythm(1/4);
  margin-top: rhythm(1/4);
  padding-left: .5rem;
  padding-right: .5rem;
  position: relative;
}

.armor-tapstrap .select2-search-choice-focus,
.armor-tapstrap-select2-search-choice-focus {
  background-color: #ccc;
}

.select2-search-choice > div {
  color: #333;
  display: inline-block;
  font-size: 1.2rem;
}

.armor-tapstrap .select2-search-choice-close,
.armor-tapstrap-select2-search-choice-close {
  display: none;
}

.armor-tapstrap .select2-search-field,
.armor-tapstrap-select2-search-field {
  white-space: nowrap;
}

.armor-tapstrap .select2-input,
.armor-tapstrap-select2-input {
  cursor: text;
  display: block;
}

.armor-tapstrap .select2-drop,
.armor-tapstrap-select2-drop {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 9999;
  width: 100%;
}

.armor-tapstrap .select2-drop .select2-search {
  display: block;
  margin-top: -40px;
}

.armor-tapstrap .select2-drop .select2-search input {
  background-color: transparent;
  border: none;
  color: #ccc;
  cursor: text;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: rhythm(1/2);
  position: relative;
  width: 100%;
}

.armor-tapstrap .select2-results,
.armor-tapstrap-select2-results {
  background-color: #404040;
  display: block;
  max-height: rhythm(15);
  overflow: hidden;
  position: relative;
}

.armor-tapstrap .select2-result,
.armor-tapstrap-select2-result {
  display: block;
}

.armor-tapstrap .select2-searching,
.armor-tapstrap-select2-searching {
  @include animation(spin 2s infinite linear);
  color: #ccc;
  display: inline-block;
  font-family: FontAwesome;
  padding: rhythm(1/2);
  &::before {
    content: '\f110';
  }
}

.armor-tapstrap .select2-result-label,
.armor-tapstrap-select2-result-label {
  @include background-image(linear-gradient(top, #575757, #575757));
  background-color: #404040;
  background-repeat: no-repeat;
  background-size: .25rem 100%;
  cursor: pointer;
  display: block;
  padding: rhythm(1/2);
}

.armor-tapstrap .select2-highlighted .select2-result-label,
.armor-tapstrap-select2-highlighted-result-label {
  @include background-image(linear-gradient(top, #0089cc, #0089cc));
}

.armor-tapstrap .select2-disabled .select2-result-label,
.armor-tapstrap-select2-disabled-result-label {
  background-color: lighten(#ccc, 18%);
  color: #ccc;
  cursor: default;
  & * {
    cursor: default !important;
  }
}

.armor-tapstrap .select2-default,
.armor-tapstrap-select2-default {
  display: block;
  & > span {
    color: #ccc;
    display: inline-block;
    font-family: Arial, sans-serif;
  }
}

.armor-tapstrap .select2-dropdown-open .select2-default,
.armor-tapstrap .select2-dropdown-oepn .armor-tapstrap-select2-default {
  & > span {
    color: transparent;
  }
}

.armor-tapstrap .select2-display-none,
.armor-tapstrap-select2-display-none {
  display: none;
}

.armor-tapstrap .select2-addon,
.armor-tapstrap-select2-addon {
  background-color: #404040;
  color: #ccc;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.armor-tapstrap .select2-addon-icon,
.armor-tapstrap-select2-addon-icon {
  font-size: 16px;
  line-height: inherit;
}