@import 'bourbon';

.armor-tapstrap .slider,
.armor-tapstrap-slider {
  display: block;
}

.armor-tapstrap .slider-items,
.armor-tapstrap-slider-items {
  @include clearfix;
  display: block;
  margin: 0;
  overflow: visible !important;
  padding: 0;
  position: relative;
}

.armor-tapstrap .slider-item,
.armor-tapstrap-slider-item {
  display: block;
  overflow: hidden;
}
