@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .slide,
.armor-tapstrap-slide {
  background-color: #fff;
  display: block;
  padding: 20px;
}

.armor-tapstrap .slide-figure,
.armor-tapstrap-slide-figure {
  display: block;
}

.armor-tapstrap .slide-figure-attachment,
.armor-tapstrap-slide-figure-attachment,
.armor-tapstrap .slide-figure-attachment-image,
.armor-tapstrap-slide-figure-attachment-image {
  display: block;
  width: 100%;
}

.armor-tapstrap .slide-figure-caption,
.armor-tapstrap-slide-figure-caption {
  margin-top: 20px;
  display: block;
}