@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .subheading,
.armor-tapstrap-subheading {
  color: #999;
  display: block;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
}