@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .tabs,
.armor-tapstrap-tabs {
  @include clearfix();
  display: block;
  margin-right: -20px;
  min-width: 20px;
}

.armor-tapstrap .tab,
.armor-tapstrap-tab {
  @include transition(all .2s);
  background-color: #404040;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin-right: 20px;
  min-width: 90px;
  text-align: center;
  text-decoration: none;
  &:hover,
  &.active,
  &.tab-active,
  &.armor-tapstrap-tab-active {
    background-color: #008bcc;
    color: #fff;
  }
}

.armor-tapstrap .tab-icon,
.armor-tapstrap-tab-icon {
  display: block;
  font-size: 28px;
  line-height: 30px;
}

.armor-tapstrap .tab-text,
.armor-tapstrap-tab-text {
  display: block;
  font-size: 14px;
  line-height: 30px;
}