.text-list {
  display: block;
  margin: 0;
  padding: 0;
}

.text-list-item {
  color: #999;
  display: list-item;
  font-size: 13px;
  line-height: 20px;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}