.armor-tapstrap .textbox,
.armor-tapstrap-textbox {
  background-color: #dedede;
  border: none;
  color: #666;
  cursor: text;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  outline: none;
  padding: 10px;
  transition: all .2s;
  width: 100%;
  &::placeholder {
    color: #999
  }
  &:focus {
    background-color: darken(#dedede, 10%);
  }
}

.armor-tapstrap .textbox-size-large,
.armor-tapstrap-textbox-size-large {
  font-size: 36px;
  line-height: 40px;
}

.armor-tapstrap .textbox-dark,
.armor-tapstrap-textbox-dark {
  background-color: #575757;
  color: #ccc;
}
