@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .text,
.armor-tapstrap-text {
  color: #999;
  cursor: text;
  display: inline;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}
.armor-tapstrap .text-color-dark,
.armor-tapstrap-text-color-dark {
  color: #666;
}

.armor-tapstrap .text-color-light,
.armor-tapstrap-text-color-light {
  color: #ccc;
}

.armor-tapstrap .text-inverted,
.armor-tapstrap-text-inverted {
  color: #fff;
}

@each $size in (x-small 11px 15px) (small 12px 15px) (medium 13px 15px) (large 14px 20px) (x-large 15px 20px) {
  .armor-tapstrap .text-size-#{nth($size, 1)},
  .armor-tapstrap-text-size-#{nth($size, 1)} {
    font-size: nth($size, 2);
    line-height: nth($size, 3);
  }
}