@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .textbox + .textbox-addon,
.armor-tapstrap-textbox + .armor-tapstrap-textbox-addon {
  margin-left: -4px;
}

.armor-tapstrap .textbox-addon + .textbox,
.armor-tapstrap-textbox-addon + .armor-tapstrap-textbox {
  margin-left: -4px;
}

.armor-tapstrap .textbox-addon,
.armor-tapstrap-textbox-addon {
  background-color: #008bcc;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  min-width: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.armor-tapstrap .textbox-addon-icon,
.armor-tapstrap-textbox-addon-icon {
  font-size: 16px;
  line-height: inherit;
}