@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';

.armor-tapstrap .userphoto,
.armor-tapstrap-userphoto {
  display: inline-block;
  font-size: 28px;
  line-height: 40px;
  position: relative;
  width: 40px;
  &::before {
    bottom: 0;
    background-color: #ccc;
    color: #fff;
    content: '\f007';
    display: inline-block;
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
  }
  &::after {
    @include transition(all .2s);
    background-color: #000;
    display: inline-block;
    content: '\00a0';
    opacity: 0;
    position: relative;
    width: 100%;
  }
}

.armor-tapstrap .userphoto-clickable,
.armor-tapstrap-userphoto-clickable {
  cursor: pointer;
  &:hover::after {
    opacity: .3;
  }
}

@each $size in (x-small 20px) (small 30px) (medium 40px) (large 50px) (x-large 60px) {
  .armor-tapstrap .userphoto-size-#{nth($size, 1)},
  .armor-tapstrap-userphoto-size-#{nth($size, 1)} {
    font-size: (14/20) * nth($size, 2);
    width: nth($size, 2);
    line-height: nth($size, 2);
  }
}