@import "compass/css3/transition";
@import "compass/typography/text/ellipsis";
@import "compass/typography/vertical_rhythm";

.armor-tapstrap .dropout-context,
.armor-tapstrap-dropout-context {
  position: relative;
}

.armor-tapstrap .dropout-menu,
.armor-tapstrap-dropout-menu {
  position: absolute;
  z-index: 100;
}

.armor-tapstrap .dropout-toggle-hover:hover .dropout-menu,
.armor-tapstrap-dropout-toggle-hover:hover .armor-tapstrap-dropout-menu {
  display: block;
}

@each $align in top, right, bottom, left {
  .armor-tapstrap .dropout-menu-align-#{$align},
  .armor-tapstrap-dropout-menu-align-#{$align} {
    #{$align}: 0;
  }
}

.armor-tapstrap .dropout-menu-items,
.armor-tapstrap-dropout-menu-items {
  display: block;
  background-color: #0089cc;
  padding-bottom: rhythm(1/2);
  padding-top: rhythm(1/2);
}

.armor-tapstrap .dropout-menu-item,
.armor-tapstrap-dropout-menu-item {
  display: block;
}

.armor-tapstrap .dropout-menu-item-target,
.armor-tapstrap-dropout-menu-item-target {
  @include adjust-font-size-to(14px);
  @include ellipsis();
  @include transition(all .2s);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  padding: rhythm(1/4) rhythm(1/2);
  &:hover {
    background-color: #3cbfff;
  }
}