@import "compass/typography/vertical_rhythm";

.armor-tapstrap .heading,
.armor-tapstrap-heading {
  @include adjust-font-size-to(36px);
  color: #999;
  display: block;
  font-family: Arial, sans-serif;
  letter-spacing: -.05em;
}