@import "compass/typography/vertical_rhythm";

.armor-tapstrap .jumbo-heading,
.armor-tapstrap-jumbo-heading {
  @include adjust-font-size-to(72px);
  color: #333;
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -.05em;
}