@import "compass/typography/text/ellipsis";

.armor-tapstrap .line-clamp,
.armor-tapstrap-line-clamp {
  display: table !important;
  table-layout: fixed;
  width: 100%;
}

.armor-tapstrap .line-clamp-text,
.armor-tapstrap-line-clamp-text {
  @include ellipsis();
  display: table-cell;
}