@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";

.armor-tapstrap .new-slide,
.armor-tapstrap-new-slide {
  @include transition(all .2s);
  background-color: #404040;
  border: rhythm(1) solid #fff;
  color: #ccc;
  cursor: pointer;
  display: table;
  &:hover {
    background-color: #008bcc;
    color: #fff;
  }
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
}

.armor-tapstrap .new-slide-inner,
.armor-tapstrap-new-slide-inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.armor-tapstrap .new-slide-icon,
.armor-tapstrap-new-slide-icon {
  @include adjust-font-size-to(96px);
  display: block;
}

.armor-tapstrap .new-slide-text,
.armor-tapstrap-new-slide-text {
  @include adjust-font-size-to(14px);
  bottom: -1 * rhythm(1);
  display: block;
  font-family: Arial, sans-serif;
  position: absolute;
  text-align: center;
}