@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";

.armor-tapstrap .off-canvas-column,
.armor-tapstrap-off-canvas-column {
  @include transition(all .2s);
  display: block;
  height: 100%;
  right: -30%;
  padding-left: 2%;
  padding-right: 2%;
  position: fixed;
  top: 0;
  width: 30%;
}

%armor-tapstrap-off-canvas-column-active {
	&:target {
		right: 0;
	}
}

#comments {
	@extend %armor-tapstrap-off-canvas-column-active
}

.armor-tapstrap .off-canvas-column-toggle,
.armor-tapstrap-off-canvas-column-toggle {
	display: block;
  margin-left: -7.7%;
}

.page-reel-social-controls {
  display: block;
  right: 10%;
  position: fixed;
  top: 0;
}