.armor-tapstrap .sticky,
.armor-tapstrap-sticky {
	display: table;
	height: 100%;
	width: 100%;
}

.armor-tapstrap .sticky-item,
.armor-tapstrap-sticky-item,
.armor-tapstrap .sticky-content,
.armor-tapstrap-sticky-content {
	display: table-row;
}

.armor-tapstrap .sticky-item,
.armor-tapstrap-sticky-item {
	height: 1px;
}

.armor-tapstrap .sticky-content,
.armor-tapstrap-sticky-content {
	height: auto;
}