@import "compass/typography/vertical_rhythm";

.armor-tapstrap .subheading,
.armor-tapstrap-subheading {
  @include adjust-font-size-to(36px);
  color: #666;
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
}