@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";

.armor-tapstrap .tab,
.armor-tapstrap-tab {
  @include transition(all .2s);
  background-color: #404040;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  min-width: rhythm(5);
  padding: rhythm(.5) rhythm(1);
  text-align: center;
  &:hover,
  &.active,
  &.tab-active,
  &.armor-tapstrap-tab-active {
    background-color: #008bcc;
    color: #fff;
  }
}

.armor-tapstrap .tab-icon,
.armor-tapstrap-tab-icon {
  @include adjust-font-size-to(21px);
  display: block;
}

.armor-tapstrap .tab-text,
.armor-tapstrap-tab-text {
  @include adjust-font-size-to(14px);
  display: block;
  font-family: Arial, sans-serif;
}