@import "compass/css3/transition";
@import "./thumbnail";

.armor-tapstrap .userphoto,
.armor-tapstrap-userphoto {
  @extend .armor-tapstrap-thumbnail;
  &::before {
    bottom: 0;
    background: #ccc;
    color: #fff;
    content: "\f007";
    display: block;
    font-family: FontAwesome;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
  }
}

.armor-tapstrap .userphoto-clickable,
.armor-tapstrap-userphoto-clickable {
  @extend .armor-tapstrap-thumbnail-clickable;
}

@each $size in xx-small x-small small medium large x-large xx-large {
  .armor-tapstrap .userphoto-size-#{$size},
  .armor-tapstrap-userphoto-size-#{$size} {
    @extend .armor-tapstrap-thumbnail-size-#{$size};
  }
}

.armor-tapstrap .userphoto-image,
.armor-tapstrap-userphoto-image {
  @extend .armor-tapstrap-thumbnail;
}