/* line 4, ../sass/form.scss */
.armor-tapstrap .form,
.armor-tapstrap-form {
  display: block;
}

/* line 9, ../sass/form.scss */
.armor-tapstrap .form-controls,
.armor-tapstrap-form-controls {
  display: block;
}

/* line 14, ../sass/form.scss */
.armor-tapstrap .form-control-items,
.armor-tapstrap-form-control-items {
  display: block;
  margin-bottom: rhythm(-1);
  min-height: rhythm(1);
}

/* line 21, ../sass/form.scss */
.armor-tapstrap .form-control-item,
.armor-tapstrap-form-control-item {
  display: block;
  margin-bottom: rhythm(1);
}
