/* line 4, ../sass/heading.scss */
.armor-tapstrap .heading,
.armor-tapstrap-heading {
  font-size: 2.25em;
  line-height: 1.33333em;
  color: #999;
  display: block;
  font-family: Arial, sans-serif;
  letter-spacing: -.05em;
}
