/* line 4, ../sass/jumbo-heading.scss */
.armor-tapstrap .jumbo-heading,
.armor-tapstrap-jumbo-heading {
  font-size: 4.5em;
  line-height: 1.33333em;
  color: #333;
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -.05em;
}
