/* line 4, ../sass/media.scss */
.armor-tapstrap .media,
.armor-tapstrap-media {
  *zoom: 1;
  display: block;
}
/* line 38, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.armor-tapstrap .media:after,
.armor-tapstrap-media:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../sass/media.scss */
.armor-tapstrap .media-image,
.armor-tapstrap-media-image {
  display: block;
  float: left;
  margin-right: 1rem;
}

/* line 17, ../sass/media.scss */
.armor-tapstrap .media-body,
.armor-tapstrap-media-body {
  display: table-cell;
  width: 10000px;
}
