/* line 4, ../sass/navigation-bar.scss */
.armor-tapstrap .navigation-bar,
.armor-tapstrap-navigation-bar {
  background-color: #000;
  display: block;
  min-height: 3em;
}

/* line 13, ../sass/navigation-bar.scss */
.armor-tapstrap .navigation-bar-items,
.armor-tapstrap-navigation-bar-items,
.armor-tapstrap .navigation-bar-items-alternate,
.armor-tapstrap-navigation-bar-items-alternate {
  display: block;
}

/* line 18, ../sass/navigation-bar.scss */
.armor-tapstrap .navigation-bar-items,
.armor-tapstrap-navigation-bar-items {
  float: left;
}

/* line 23, ../sass/navigation-bar.scss */
.armor-tapstrap .navigation-bar-items-alternate,
.armor-tapstrap-navigation-bar-items-alternate {
  float: right;
}

/* line 28, ../sass/navigation-bar.scss */
.armor-tapstrap .navigation-bar-item,
.armor-tapstrap-navigation-bar-item {
  display: inline-block;
  vertical-align: top;
}
/* line 31, ../sass/navigation-bar.scss */
.armor-tapstrap .navigation-bar-item > *,
.armor-tapstrap-navigation-bar-item > * {
  vertical-align: top;
}
