/* line 5, ../sass/reel.scss */
.armor-tapstrap .reel,
.armor-tapstrap-reel {
  background-color: #fff;
  display: block;
}

/* line 11, ../sass/reel.scss */
.armor-tapstrap .reel-figure,
.armor-tapstrap-reel-figure {
  display: block;
  padding: 1.5em;
}

/* line 19, ../sass/reel.scss */
.armor-tapstrap .reel-figure-attachment,
.armor-tapstrap-reel-figure-attachment,
.armor-tapstrap .reel-figure-attachment-image,
.armor-tapstrap-reel-figure-attachment-image {
  display: block;
  width: 100%;
}

/* line 25, ../sass/reel.scss */
.armor-tapstrap .reel-figure-caption,
.armor-tapstrap-reel-figure-caption {
  margin-top: 1.5em;
  display: block;
}

/* line 31, ../sass/reel.scss */
.armor-tapstrap .reel-figure + .reel-comments,
.armor-tapstrap-reel-figure + .armor-tapstrap-reel-comments {
  margin-top: -0.75em;
  padding-top: 0.75em;
}

/* line 37, ../sass/reel.scss */
.armor-tapstrap .reel-comments,
.armor-tapstrap-reel-comments {
  border-style: solid;
  border-width: 0.0625em;
  padding: 1.4375em;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding;
  background-color: #eaf8ff;
  display: block;
}
