/* line 2, ../sass/scrollable-window.scss */
.armor-tapstrap .scrollable-window,
.armor-tapstrap-scrollable-window {
  display: block;
  overflow: auto;
}
/* line 5, ../sass/scrollable-window.scss */
.armor-tapstrap .scrollable-window::-webkit-scrollbar,
.armor-tapstrap-scrollable-window::-webkit-scrollbar {
  width: .5rem;
}
/* line 8, ../sass/scrollable-window.scss */
.armor-tapstrap .scrollable-window::-webkit-scrollbar-track,
.armor-tapstrap-scrollable-window::-webkit-scrollbar-track {
  background-color: #ccc;
}
/* line 10, ../sass/scrollable-window.scss */
.armor-tapstrap .scrollable-window::-webkit-scrollbar-track:window-inactive,
.armor-tapstrap-scrollable-window::-webkit-scrollbar-track:window-inactive {
  background-color: white;
}
/* line 14, ../sass/scrollable-window.scss */
.armor-tapstrap .scrollable-window::-webkit-scrollbar-thumb,
.armor-tapstrap-scrollable-window::-webkit-scrollbar-thumb {
  background: #404040;
}
/* line 16, ../sass/scrollable-window.scss */
.armor-tapstrap .scrollable-window::-webkit-scrollbar-thumb:window-inactive,
.armor-tapstrap-scrollable-window::-webkit-scrollbar-thumb:window-inactive {
  background-color: silver;
}
