/* line 8, ../sass/stack - Copy.scss */
.armor-tapstrap .stack,
.armor-tapstrap-stack,
.armor-tapstrap .stack-items,
.armor-tapstrap-stack-items,
.armor-tapstrap .stack-item,
.armor-tapstrap-stack-item {
  display: block;
}

/* line 13, ../sass/stack - Copy.scss */
.armor-tapstrap .stack-item,
.armor-tapstrap-stack-item {
  *zoom: 1;
}
/* line 38, ../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.armor-tapstrap .stack-item:after,
.armor-tapstrap-stack-item:after {
  content: "";
  display: table;
  clear: both;
}
