/* line 5, ../sass/tab.scss */
.armor-tapstrap .tab,
.armor-tapstrap-tab {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #404040;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  min-width: 7.5em;
  padding: 0.75em 1.5em;
  text-align: center;
}
/* line 17, ../sass/tab.scss */
.armor-tapstrap .tab:hover, .armor-tapstrap .tab.active, .armor-tapstrap .tab.tab-active, .armor-tapstrap .tab.armor-tapstrap-tab-active,
.armor-tapstrap-tab:hover,
.armor-tapstrap-tab.active,
.armor-tapstrap-tab.tab-active,
.armor-tapstrap-tab.armor-tapstrap-tab-active {
  background-color: #008bcc;
  color: #fff;
}

/* line 24, ../sass/tab.scss */
.armor-tapstrap .tab-icon,
.armor-tapstrap-tab-icon {
  font-size: 1.3125em;
  line-height: 2.28571em;
  display: block;
}

/* line 30, ../sass/tab.scss */
.armor-tapstrap .tab-text,
.armor-tapstrap-tab-text {
  font-size: 0.875em;
  line-height: 1.71429em;
  display: block;
  font-family: Arial, sans-serif;
}
