/* line 5, ../sass/userphoto.scss */
.armor-tapstrap .userphoto,
.armor-tapstrap-userphoto {
  background-size: cover;
  display: inline-block;
  font-size: 48px;
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  width: 1.5em;
}
/* line 13, ../sass/userphoto.scss */
.armor-tapstrap .userphoto::before,
.armor-tapstrap-userphoto::before {
  bottom: 0;
  background: #ccc;
  color: #fff;
  content: "\f007";
  display: block;
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
/* line 26, ../sass/userphoto.scss */
.armor-tapstrap .userphoto[href],
.armor-tapstrap-userphoto[href] {
  cursor: pointer;
}
/* line 28, ../sass/userphoto.scss */
.armor-tapstrap .userphoto[href]::after,
.armor-tapstrap-userphoto[href]::after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #000;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 39, ../sass/userphoto.scss */
.armor-tapstrap .userphoto[href]:hover::after,
.armor-tapstrap-userphoto[href]:hover::after {
  opacity: .2;
}

/* line 47, ../sass/userphoto.scss */
.armor-tapstrap .userphoto-size-small,
.armor-tapstrap-userphoto-size-small {
  font-size: 24px;
  height: 2em;
  line-height: 2em;
  width: 2em;
}

/* line 47, ../sass/userphoto.scss */
.armor-tapstrap .userphoto-size-medium,
.armor-tapstrap-userphoto-size-medium {
  font-size: 48px;
  height: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
}

/* line 47, ../sass/userphoto.scss */
.armor-tapstrap .userphoto-size-large,
.armor-tapstrap-userphoto-size-large {
  font-size: 72px;
  height: 1.33333em;
  line-height: 1.33333em;
  width: 1.33333em;
}

/* line 56, ../sass/userphoto.scss */
.armor-tapstrap .userphoto-image,
.armor-tapstrap-userphoto-image {
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
